<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator Demo</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>  
    <!-- <script src="lib/angular/angular.min.js"></script>  doesn't work sometimes -->
    <script src="js/controller.js"></script>

<style>
table tr input{
    width: 208px;
    height: 60px;
    vertical-align: bottom;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    padding-right: 3px;
}
table tr td button{
    width: 50px;
    height: 45px;
    font-size: 18px;
}
.displayDebugResult div span{
    width:100px;
    display:inline-block;
}
</style>

    
</head>

<body ng-app = "myApp">

<!--<div  ng-controller = "MyController">
     <h1>hi {{author.name}}</h1>
    <p>{{ author.title + ', ' + author.company }}</p> 
</div-->

<div ng-controller = "MyCalc">
    <h1>My {{author.project}}</h1>

    <table>
        <tr>
            <td colspan="4">
                <input type="text" style="text-align:right" id="txtDisplayNumber" value="0"> <br>
            </td>
        </tr>
        <tr>
                <td><button onclick="setOperator('%')" disabled="true" >%</button></td>
                <td><button onclick="setOperator('x²')" >x²</button></td>
                <td><button onclick="setOperator('√')" >√</button></td>
                <td><button onclick="setOperator('/')" >÷</button></td>
        </tr>
        <tr>
                <td><button onclick="valueSet(7)" >7</button></td>
                <td><button onclick="valueSet(8)" >8</button></td>
                <td><button onclick="valueSet(9)" >9</button></td>
                <td><button onclick="setOperator('*')" >X</button></td>
        </tr>
        <tr>
                <td><button ng-click="i = 4" onclick="valueSet(4)" ng-init="button4 = '4'">{{ button4 }}</button></td>
                <td><button ng-click="i = 5" onclick="valueSet(5)" ng-init="button5 = '5'">{{ button5 }}</button></td>
                <td><button ng-click="i = 6" onclick="valueSet(6)" ng-init="button6 = '6'">{{ button6 }}</button></td>
                <td><button onclick="setOperator('-')" ng-init="button61 = '-'">{{ button61 }}</button></td>
        </tr>
        <tr>
            <td><button ng-click="i = 1" onclick="valueSet(1)" ng-init="button1 = '1'">{{ button1 }}</button></td>
            <td><button ng-click="i = 2" onclick="valueSet(2)" ng-init="button2 = '2'">{{ button2 }}</button></td>
            <td><button ng-click="i = 3" onclick="valueSet(3)" ng-init="button3 = '3'">{{ button3 }}</button></td>
            <td> <button onclick="setOperator('+')" ng-init="button11 = '+'">{{ button11 }}</button>                  
            </td>
        </tr>
        <tr>
            <td><button onclick="defaultState(0)">C</button></td>
            <td><button onclick="valueSet(0)">0</button></td>
            <td><button onclick="valueSet('.')">.</button></td>
            <td><button onclick="calculation()" ng-init="button12 = '='">{{ button12 }}</button></td>
        </tr>
    </table>

    <hr>
    <div class="displayDebugResult">
        <div><span>1st number </span>= <span id="firstNumber"></span></div>
        <div><span>Operator </span>= <span id="operator"></span></div>
        <div><span>2nd number </span>= <span id="secondNumber"></span></div>
        <div><span>Total </span>= <span id="total"></span></div>
    </div>
    <hr>
    

</div>

<script>
    var firstNumber = secondNumber = total = 0;
    var strFirstVal = strSecondVal = "";
    var operatorAction = ""; // This will define the action

    var displayBar = document.getElementById("txtDisplayNumber"); //To show result
    displayBar.innerText = "0";


    function valueSet(value){
        //If there is no operator then firstNumber or secondNumber must continue.
        if(!operatorAction) //number1 must continue postpend
        {
            strFirstVal += value;
            firstNumber = parseFloat(strFirstVal);
            console.log(strFirstVal + " firstNumber :" + firstNumber);
            displayBar.innerText = strFirstVal;
            return;
        }
        else{
            strSecondVal += value;
            secondNumber = parseFloat(strSecondVal);
            console.log(strSecondVal + " secondNumber :" + secondNumber);
            displayBar.innerText = strSecondVal;
            return;
        }
        console.log("outside Return: unexpected ERROR");

    }

    function setOperator(operator){    
        if(operatorAction != "" || operator == "x²" || operator == "√")  {
            operatorAction = operator;
            calculation();            
        }           
        operatorAction = operator;
    }

    function calculation(){
        switch(operatorAction){
            case "+":
                addition();
                break;
            case "-":
                substraction();
                break;
            case "/":
                division();
                break;
            case "*":
                multiply();
                break;
            case "%":
                percentage();
                break;
            case "x²":
                square();
                break;
            case "√":
                squareRoot();
                break;
            default:
                break;

        }
        operatorAction="";
    }

   

    function defaultState(){
        firstNumber = secondNumber = total = 0;
        strFirstVal = strSecondVal = "";
        operatorAction = ""; 
        displayBar.innerText = "0";
        console.log("default" + displayBar.value + " ?" );
    }

    function addition(){
        total = firstNumber+secondNumber;
        console.log(firstNumber+" + " + secondNumber + " = " + total );
        setUpForNewCalculation();
    }

    function substraction(){
        total = firstNumber-secondNumber;
        console.log(firstNumber+" + " + secondNumber + " = " + total );
        setUpForNewCalculation();
    }

    function division(){
        total = firstNumber/secondNumber;
        console.log(firstNumber+" + " + secondNumber + " = " + total );
        setUpForNewCalculation();
    }
    function multiply(){
        total = firstNumber*secondNumber;
        console.log(firstNumber+" x " + secondNumber + " = " + total );
        setUpForNewCalculation();
    }

    function square(){
        total = firstNumber*firstNumber;
        setUpForNewCalculation();
    }
    function squareRoot(){
        total = Math.sqrt(firstNumber);
        setUpForNewCalculation();
    }

    function setUpForNewCalculation(){
        displayBar.innerText = total;        
        firstNumber = total;
        secondNumber=0;
        strFirstVal = strSecondVal = "";
        operatorAction = "";
        console.log("Calculation done /n" + "first# " + firstNumber + "/nsecond# " + secondNumber + "/noperator :" + operatorAction + "/nresult:"+total );
    }

    !function fooDebugging(){
        document.getElementById("firstNumber").innerHTML = firstNumber.toString(); 
        document.getElementById("operator").innerHTML = operatorAction.toString(); 
        document.getElementById("secondNumber").innerHTML = secondNumber.toString(); 
        document.getElementById("total").innerHTML = total.toString(); 
        setTimeout(fooDebugging, 500);
    }();



</script>


</body>
</html>